	.modal-confirm {		
		color: #249DD8;
		width: 400px;
		margin: 30px auto;
	}
        
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
                text-align: center;
		font-size: 14px;
	}
        
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
        
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
        
	.modal-confirm .modal-body {
		color: #000000;
		font-size: 16px;
	}
        
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
        
	.modal-confirm .modal-footer a {
		color: #249DD8;
	}	
        
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
	}
        
	.modal-confirm .icon-box i {
		color: #249DD8;
		font-size: 60px;
		display: inline-block;
		margin-top: 13px;
	}
        
        .modal-confirm .btn {
                color: #ffffff;
                border-radius: 4px;
		background: #4881D4;
		text-decoration: none;
		transition: all 0.4s;
                line-height: normal;
		min-width: 120px;
                border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
        }
	.modal-confirm .btn-info {
            background: #c1c1c1;
        }
    
        .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
            background: #a8a8a8;
        }
    
        .modal-confirm .btn-primary {
            background: #249DD8;
        }
    
        .modal-confirm .btn-primary:hover, .modal-confirm .btn-primary:focus {
            background: #204C6F;
        }
        .trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
